<h1>All the Cats!</h1>

<ul>
  <% @cats.each do |cat| %>
    <li>
      <%= "#{cat.name} -  "%>
      <a href= "<%= cat_url(cat)%>">Learn more!</a>
    </li>
  <% end %>
</ul>

<a href= "<%=new_cat_url%>">Create a new cat!</a>